.elementor-108 .elementor-element.elementor-element-bcb5f12 iframe {height: 140px;}
.elementor-108 .elementor-element.elementor-element-cd090d9 {--spacer-size: 35px;}
.elementor-108 .elementor-element.elementor-element-abd94ce {--spacer-size: 20px;}
.elementor-108 .elementor-element.elementor-element-94c93e5 .elementor-heading-title {color: #fff;}
.elementor-108 .elementor-element.elementor-element-5cda49e {--divider-border-style: solid;--divider-color: #000;--divider-border-width: 1px;}
.elementor-108 .elementor-element.elementor-element-5cda49e .elementor-divider-separator {width: 0%;}
.elementor-108 .elementor-element.elementor-element-5cda49e .elementor-divider {padding-top: 15px;padding-bottom: 15px;}
.elementor-108 .elementor-element.elementor-element-5d86c59 .elementor-repeater-item-36b2b7c.elementor-social-icon {background-color: #e4405f;}
.elementor-108 .elementor-element.elementor-element-5d86c59 {--grid-template-columns: repeat(0,auto);--grid-column-gap: 77px;--grid-row-gap: 6px;}
.elementor-108 .elementor-element.elementor-element-5d86c59 .elementor-widget-container {text-align: center;}