.elementor-25 .elementor-element.elementor-element-dfaa64a {--spacer-size: 10px;}
@media (min-width:768px) {.elementor-25 .elementor-element.elementor-element-36d0fc2 {width: 53.313%;}
	.elementor-25 .elementor-element.elementor-element-ca1f1ae {width: 46.612%;}}