.elementor-59 .elementor-element.elementor-element-000e731 {--spacer-size: 30px;}
.elementor-59 .elementor-element.elementor-element-aea945c {--spacer-size: 30px;}
.elementor-59 .elementor-element.elementor-element-191851f .elementor-heading-title {color: #f3f3f3;}
.elementor-59 .elementor-element.elementor-element-aac8ccd {text-align: left;}
.elementor-59 .elementor-element.elementor-element-aac8ccd .elementor-heading-title {color: #0ba376;}
.elementor-59 .elementor-element.elementor-element-85595c5 {--divider-border-style: solid;--divider-color: #000;--divider-border-width: 1px;}
.elementor-59 .elementor-element.elementor-element-85595c5 .elementor-divider-separator {width: 0%;}
.elementor-59 .elementor-element.elementor-element-85595c5 .elementor-divider {padding-top: 15px;padding-bottom: 15px;}
.elementor-59 .elementor-element.elementor-element-aac2ee3 .elementor-heading-title {color: #0ba376;}
.elementor-59 .elementor-element.elementor-element-ae41703 {--divider-border-style: solid;--divider-color: #000;--divider-border-width: 1px;}
.elementor-59 .elementor-element.elementor-element-ae41703 .elementor-divider-separator {width: 0%;}
.elementor-59 .elementor-element.elementor-element-ae41703 .elementor-divider {padding-top: 15px;padding-bottom: 15px;}
@media (min-width:768px) {.elementor-59 .elementor-element.elementor-element-13ef529 {width: 58.217%;}
	.elementor-59 .elementor-element.elementor-element-9a7f380 {width: 41.626%;}}