.elementor-76 .elementor-element.elementor-element-b525f74 .elementor-heading-title {color: #fff;}
.elementor-76 .elementor-element.elementor-element-1538e22 {--divider-border-style: solid;--divider-color: #000;--divider-border-width: 1px;}
.elementor-76 .elementor-element.elementor-element-1538e22 .elementor-divider-separator {width: 0%;}
.elementor-76 .elementor-element.elementor-element-1538e22 .elementor-divider {padding-top: 15px;padding-bottom: 15px;}
.elementor-76 .elementor-element.elementor-element-c364dcd .elementor-heading-title {color: #0ba376;}
.elementor-76 .elementor-element.elementor-element-4bca9bb .elementor-heading-title {color: #0ba376;}
.elementor-76 .elementor-element.elementor-element-a8886b3 .elementor-heading-title {color: #0ba376;}
.elementor-76 .elementor-element.elementor-element-f7e53b6 .elementor-heading-title {color: #0ba376;}
.elementor-76 .elementor-element.elementor-element-84dede8 .elementor-heading-title {color: #0ba376;}
.elementor-76 .elementor-element.elementor-element-e497771 .elementor-heading-title {color: #0ba376;}
.elementor-76 .elementor-element.elementor-element-8811b8a .elementor-heading-title {color: #0ba376;}
.elementor-76 .elementor-element.elementor-element-a89e00d .elementor-heading-title {color: #0ba376;}
.elementor-76 .elementor-element.elementor-element-9c9e6dc .elementor-heading-title {color: #0ba376;}
.elementor-76 .elementor-element.elementor-element-9c9e6dc {width: var(--container-widget-width,108.509%);max-width: 108.509%;--container-widget-width: 108.509%;--container-widget-flex-grow: 0;}
.elementor-76 .elementor-element.elementor-element-4e3c22a .elementor-heading-title {color: #0ba376;}
.elementor-76 .elementor-element.elementor-element-f89955d .elementor-heading-title {color: #0ba376;}
.elementor-76 .elementor-element.elementor-element-322753c .elementor-heading-title {color: #0ba376;}
.elementor-76 .elementor-element.elementor-element-2241fa0 .elementor-heading-title {color: #0ba376;}
.elementor-76 .elementor-element.elementor-element-91a81ad .elementor-heading-title {color: #0ba376;}
.elementor-76 .elementor-element.elementor-element-898347e .elementor-heading-title {color: #0ba376;}